<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Agilise is focused on providing quick solutions for your demands. Be it organizing your workflow, 
          automating tasks, obtaining or organizing data, count on Agilise.</p>
      </div>
      <div class="col-lg-4">
        <p>At the moment, Agilise can work on projects depending on G Suite (Sheets, docs, slides, gmail), Apps Script, Appsheet, 
        Google data studio (Looker Studio), Web Scraping, WordPress and many no code/low code solutions.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://forms.gle/kUxfke4h1HMoP7vEA" class="btn btn-lg btn-outline">
          <i class="far fa-comment"></i> Have a project idea? Contact me.
        </a>
      </div>
    </div>
  </div>
</section>
